{% extends "base.html" %}
{% block container %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        {% if error %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong>{{error}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="login-form bg-light mt-4 p-4">
            <form action="{{ url_for('HomeView:index') }}" method="post" class="row g-3">
                <h4>Login</h4>
                <div class="col-12">
                    <i class="bi bi-person-badge"></i>
                    <label>E-Mail</label>
                    <input type="text" name="username" class="form-control" placeholder="">
                </div>
                <div class="col-12">
                    <i class="bi bi-lock-fill"></i>
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-dark float-end">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
